<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>刷卡</title>
    <link href="__PUBLIC__assets/hair/layui-main/layui-main/dist/css/layui.css" rel="stylesheet">
</head>
<body>
<script src="__PUBLIC__assets/hair/layui-main/layui-main/dist/layui.js"></script>
<script src="__PUBLIC__assets/hair/jquery-3.7.1.min.js"></script>
<script>
    layui.use(function () {
        var layer = layui.layer;
        var util = layui.util;
        layer.prompt({title: '请输入权限码', formType: 1}, function (value, index, elem) {
            if (value === '') return elem.focus();
            // layer.msg('获得：' + util.escape(value)); // 显示 value
            $.post({
                url: "{:url('dopay')}",
                data: JSON.stringify({
                    a: "{:input('a')}",
                    r: "{:input('r')}",
                    s: util.escape(value),
                }),
                contentType: 'application/json', // 发送的数据类型
                dataType: 'json', // 预期返回的数据类型
                success: function (data, status, xhr) {
                    console.log('Response: ', data);
                    console.log('Status: ', status);
                    if (data.code > 0) {
                        layer.alert(data.msg);
                    } else {
                        layer.msg(data.msg);
                    }
                },
                error: function (xhr, status, error) {
                    console.error('Error: ' + error);
                }
            });
            // 关闭 prompt
            layer.close(index);
        });
    });
</script>
</body>
</html>
