<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>请出示付款码</title>
    <link href="__PUBLIC__assets/hair/bootstrap-5.3.0-alpha1-dist/bootstrap-5.3.0-alpha1-dist/css/bootstrap.min.css"
          rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="row mb-4">
        <div class="col">
            <h1 class="text-center mb-4"></h1>
            <h1 class="text-center mb-4">昵称：{$user.name}</h1>
            <h1 class="text-center">{$user.balance}</h1>
            <h1 class="text-center mb-4">剩余次数</h1>
            <h1 class="text-center">付款码</h1>
            <div class="text-center">
                <img src="{$src}">
            </div>
        </div>
    </div>
</div>
<script src="__PUBLIC__assets/hair/bootstrap-5.3.0-alpha1-dist/bootstrap-5.3.0-alpha1-dist/js/bootstrap.min.js"></script>
</body>
</html>
